@import "../../../../variables";

.scroll-arrow {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transform: translateY(10px);
  fill: $nav-links;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: fill 0.3s ease, opacity 0.3s ease;

  &.white {
    fill: $body-bg;
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
