@import "../../../../variables.scss";

.modal-body {
  > form {
    .form-group {
      margin-bottom: 10px;

      input {
        border: 1px solid $roomCard-border;
        &:focus {
          border: none;
          box-shadow: $nav-links 0px 0px 5px;
        }

        &.is-invalid {
          border: 1px solid $invalid;
          &:focus {
            border: 1px solid $invalid;
            box-shadow: none;
          }
        }
      }
    }
    small {
      color: $invalid;
    }
    button {
      width: 100%;
      background-color: $nav-links;
      color: $white;
      font-size: $font-size-medium;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
