@import "../../../variables";

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 20px 0 20px;
  gap: 20px;
  min-height: $wrapper-min-height-mobile;
  position: relative;
  font-size: $font-size-medium;

  > .shopping-cart-icon {
    position: fixed;
    right: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $nav-links-light;
    border-radius: 50%;
    padding: 2.5px;
    z-index: 999;
    a {
      div {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 30px;
        left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $nav-links-light;
        color: $body-bg;
        border-radius: 50%;
        font-size: 12px;
      }
    }

    svg {
      width: 40px;
      height: 40px;

      path {
        fill: $nav-links-light;
      }
    }
  }

  > div.wine-card {
    width: 100%;
    height: 300px;
    display: flex;
    gap: 4%;

    > div {
      height: 100%;

      &:nth-child(1) {
        width: 28%;
        display: flex;
        align-items: center;

        > img {
          width: 100%;
          max-width: 150px;
        }
      }

      &:nth-child(2) {
        width: 68%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > p.year {
          width: 60px;
          padding-top: 5px;
          background-color: $nav-links;
          text-align: center;
          color: $body-bg;
          border-radius: 8px;
        }
        >a {
          margin-bottom: 1rem;
          color: $nav-links;
        }

        > .adjust-quantity {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > button {
            width: 40%;
            color: $body-bg;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 60px 0 60px;
    gap: 60px;
    min-height: calc(100vh - 436px);
    > div.wine-card {
      width: calc(50% - 30px);
    }
  }
}

@media screen and (min-width: $desktop) {
  .wrapper {
    gap: 50px;
    padding: 40px 80px 0 80px;

    > div.wine-card {
      width: calc(33% - 31px);
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .wrapper {
    min-height: calc(100vh - 474px);
    gap: 70px;
    padding: 40px 12% 0 12%;
    font-size: $font-size-medium-large;
    > div.wine-card {
      width: calc(25% - 53px);
    }
  }
}
