<section class="restaurant" id="restaurant">
  <h1
    class="heading restaurant-heading"
    [appLangClass]="'geo-primary, eng-primary, ru-primary'"
  >
    {{ "restaurant.title" | translate }}
  </h1>
  <div class="restaurant-content">
    <div class="restaurant-img">
      <img
        src="assets/images/home/restaurant/Mask%20Group%2013@2x.webp"
        alt="Restaurant"
      />
      <img
        src="assets/images/home/restaurant/restaurant-desktop.webp"
        alt="Restaurant"
        class="restaurant-img-desktop"
      />
    </div>
    <div class="restaurant-description">
      <p
        class="restaurant-txt"
        [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'"
      >
        {{ "restaurant.text" | translate }}
        <span (click)="openScrollableContent(longContent)">
          {{ "restaurant.button-text" | translate }}
        </span>
      </p>
    </div>
  </div>
  <ng-template #longContent let-modal>
    <div class="modal-body">
      <button
        type="button"
        class="btn-close btn-close-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
      <img
        [src]="menuFoodUrl"
        alt="Menu"
        class="modal-image"
      />
      <img
        [src]="menuDrinksUrl"
        alt="Menu"
        class="modal-image"
      />
    </div>
  </ng-template>
</section>
