@import "../../../../../variables";
.modal-header {
  >h5 {
    text-align: center;
    color: $nav-links;
    margin: 0 auto;
    font-size: $font-size-xlarge;
  }
}
.modal-body {
  padding: 0;
}
.btn-close {
  position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    outline: none;
    box-shadow: none;
}

.carousel-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;

  .picsum-img-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
p {
  padding: 20px 20px 10px 20px;
  font-size: $font-size-medium;
  margin-bottom: 0;
}

ul {
  font-size: $font-size-medium;
}

@media screen and (min-width: $tablet){
  .carousel-container {
    height: 350px;
  }
}
@media screen and (min-width: $desktop){

}
@media screen and (min-width: $desktop-large){
  p {
    font-size: $font-size-xlarge;
  }
  ul {
    font-size: $font-size-xlarge;
  }
  .modal-header {
    >h5 {
      font-size: $font-size-xxlarge;
    }
  }
}
