<div class="wrapper">
  <div class="receipt">
    <div>
      <h5 [appLangClass]="'geo-primary, eng-primary, ru-primary'">{{ "cart.title" | translate }}</h5>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">{{ getTotalQuantity() }} {{ "cart.items" | translate }}</p>
    </div>
      @for (item of cartItems; track item){
        <div>
          <h6 class="eng-primary">{{ item.wine.name }} {{item.quantity}}x</h6>
          <p class="eng-primary">{{ item.wine.price * item.quantity }} ₾</p>
        </div>
      }
    <hr>
    <div>
      <h6 [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">{{"cart.total" | translate}}</h6>
      <p class="eng-primary">{{ getTotalAmount() }} ₾</p>
    </div>
  </div>
  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit()"
    [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'"
  >
    <h5 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
      {{ "checkout.title" | translate }}
    </h5>
    <p>
      {{ "checkout.description" | translate }}
    </p>
    <div class="form-group">
      <label for="card-number">{{ "checkout.card-number" | translate }}</label>
      <input
        type="text"
        id="card-number"
        name="card-number"
        class="form-control"
        formControlName="cardNumber"
        placeholder="1234 1234 1234 1234"
        (input)="formatCardNumber($event)"
        maxlength="19"
      >
      @if (cardNumber?.touched && cardNumber?.errors?.['required']) {
        <small>{{ "auth.required-field" | translate }}</small>
      } @else if (cardNumber?.dirty && cardNumber?.errors?.['pattern']) {
        <small>{{ "auth.invalid-field" | translate }}</small>
      }
    </div>
    <div class="split">
      <div class="form-group">
        <label for="expiry-date">{{ "checkout.expiry-date" | translate }}</label>
        <input
          type="text"
          id="expiry-date"
          name="expiry-date"
          placeholder="MM/YY"
          class="form-control"
          formControlName="expiryDate"
          (input)="formatExpiryDate($event)"
        >
        @if (expiryDate?.touched && expiryDate?.errors?.['required']) {
          <small>{{ "auth.required-field" | translate }}</small>
        } @else if (expiryDate?.dirty && expiryDate?.errors?.['pattern']) {
        <small>{{ "auth.invalid-field" | translate }}</small>
      }
      </div>
      <div class="form-group">
        <label for="cvc" >{{ "checkout.cvc" | translate }}</label>
        <input
          type="text"
          id="cvc"
          name="cvc"
          placeholder="CVC"
          class="form-control"
          formControlName="cvv"
        >
        @if (cvv?.touched && cvv?.errors?.['required']) {
          <small>{{ "auth.required-field" | translate }}</small>
        } @else if (cvv?.dirty && cvv?.errors?.['pattern']) {
          <small>{{ "auth.invalid-field" | translate }}</small>
        }
      </div>
    </div>
    <div class="form-group">
      <label for="name">
        {{ "checkout.name" | translate }}
      </label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        formControlName="cardHolderName"
      >
      @if (name?.touched && name?.errors?.['required']) {
        <small>{{ "auth.required-field" | translate }}</small>
      }
    </div>
    <div class="form-group">
      <label for="address">
        {{ "checkout.address" | translate }}
      </label>
      <input
        type="text"
        id="address"
        name="address"
        class="form-control"
        formControlName="address"
        [placeholder]="'checkout.address-placeholder' | translate"
      >

    </div>
    <div class="split">
      <div class="form-group">
        <label for="city">
          {{ "checkout.city" | translate }}
        </label>
        <select
          id="city"
          name="city"
          class="form-control"
          formControlName="city"
        >
          @for (city of cities; track city){
            <option value="{{city.name_ka}}">
              @if (isGeorgian){
                {{city.name_ka}}
              }@else {
                {{city.name_en}}
              }
            </option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="zip">
          {{ "checkout.zip" | translate }}
        </label>
        <input
          type="text"
          id="zip"
          name="zip"
          class="form-control"
          formControlName="zipCode"
        >
        @if (zip?.touched && zip?.errors?.['required']) {
          <small>{{ "auth.required-field" | translate }}</small>
        } @else if (zip?.dirty && zip?.errors?.['pattern']) {
          <small>{{ "auth.invalid-field" | translate }}</small>
        }
      </div>
    </div>
    <div class="form-group">
      <label for="comment">
        {{ "checkout.comment" | translate }}
      </label>
      <textarea
        id="comment"
        name="comment"
        class="form-control"
        formControlName="comment"
      ></textarea>
    </div>
    <button
      (click)="scrollOnTop()"
      type="submit"
      class="primary-btn"
      [appLangClass]="'geo-primary, eng-primary, ru-primary'"
      [class.is-disabled]="checkoutForm.invalid"
    >
      <span>
        {{ "checkout.submit" | translate }}
      </span>
    </button>
  </form>
</div>
@if (isLoading){
  <app-loading></app-loading>
}
