@import "../../../../../variables";

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  .hero-img {
    > img:nth-child(1) {
      max-width: 100%;
      width: 480px;
    }

    > img:nth-child(2) {
      display: none;
    }
  }

  .hero-txt {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  .hero {
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-around;

    > .hero-img {
      width: 50%;
    }

    > .hero-txt {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      width: 50%;
      padding-left: 40px;
      padding-right: 40px;
      height: 400px;

      > .hero-image {
        display: flex;
        justify-content: center;
        width: 100%;

        > img {
          max-width: 100%;
        }
      }

      > h1 {
        font-size: $font-size-xlarge;
        text-align: center;
        color: $nav-links;
      }

      > p {
        font-size: $font-size-medium;
        text-align: center;
        width: 110%;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .hero {
    padding-left: 80px;
    padding-right: 80px;

    > .hero-img {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;

      > img:nth-child(1) {
        display: none;
      }

      > img:nth-child(2) {
        display: block;
        width: 80%;
        max-width: 900px;
      }
    }

    > .hero-txt {
      > p {
        line-height: 30px;
      }
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .hero {
    padding-left: 12%;
    padding-right: 12%;

    > .hero-txt {
      > p {
        font-size: $font-size-large;
      }

      > h1 {
        font-size: $font-size-xxlarge;
      }
    }
  }
}
