<section class="hero" id="hero">
  <div class="hero-img">
    <img
      [src]="mobileHeaderUrl"
      alt="Sazano Wine"
    />
    <img
      [src]="desktopHeaderUrl"
      alt="Sazano Wine"
      class="desktop-main"
    />
  </div>
  <article class="hero-txt">
    <h1
      class="desktop-hero-title"
      id="desktopTitle"
      [appLangClass]="'geo-primary, eng-primary, eng-primary'"
    >
      {{ "hero.title" | translate }}
    </h1>
    <p
      class="hero-title-description"
      [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'"
    >
      {{ "hero.text" | translate }}
    </p>
    <div class="hero-image">
      <img src="assets/images/home/hero/Group%2042.svg" alt="Grape" />
    </div>
  </article>
</section>
