<section class="all-wines">
  <section class="wine-section">
    <figure>
      <div class="bottle-image">
        <img src="assets/images/wines/krakhuna.webp" alt="Krakhuna" />
      </div>
      <figcaption class="bottle-description">
        <h2 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
          {{ "wines.krakhuna.title" | translate }}
        </h2>
        <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
          {{ "wines.krakhuna.description" | translate }}
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="wine-section" >
    <figure>
      <div class="bottle-image">
        <img src="assets/images/wines/kisi.webp" alt="Kisi" />
      </div>
      <figcaption class="bottle-description">
        <h2 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
          {{ "wines.kisi.title" | translate }}
        </h2>
        <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
          {{ "wines.kisi.description" | translate }}
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="wine-section" >
    <figure>
      <div class="bottle-image">
        <img src="assets/images/wines/chinuri.webp" alt="Chinuri" />
      </div>
      <figcaption class="bottle-description">
        <h2 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
          {{ "wines.chinuri.title" | translate }}
        </h2>
        <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
          {{ "wines.chinuri.description" | translate }}
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="wine-section" >
    <figure>
      <div class="bottle-image">
        <img src="assets/images/wines/tsitska.webp" alt="Tsitska" />
      </div>
      <figcaption class="bottle-description">
        <h2 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
          {{ "wines.tsitska.title" | translate }}
        </h2>
        <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
          {{ "wines.tsitska.description" | translate }}
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="wine-section" >
    <figure>
      <div class="bottle-image">
        <img src="assets/images/wines/aladasturi.webp" alt="Aladasturi" />
      </div>
      <figcaption class="bottle-description">
        <h2 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
          {{ "wines.aladasturi.title" | translate }}
        </h2>
        <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
          {{ "wines.aladasturi.description" | translate }}
        </p>
      </figcaption>
    </figure>
  </section>
  <section class="wine-section" >
    <figure>
      <div class="bottle-image">
        <img src="assets/images/wines/Otskhanuri.webp" alt="Otskhanuri" />
      </div>
      <figcaption class="bottle-description">
        <h2 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
          {{ "wines.otskhanuri.title" | translate }}
        </h2>
        <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
          {{ "wines.otskhanuri.description" | translate }}
        </p>
      </figcaption>
    </figure>
  </section>
</section>
