<section class="all-wines">
  <div class="wine-section">
    <div class="bottle-image">
      <img src="../../../assets/images/wines/krakhuna.webp" alt="Krakhuna" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
        {{ "wines.krakhuna.title" | translate }}
      </h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        {{ "wines.krakhuna.description" | translate }}
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/kisi.webp" alt="Kisi" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
        {{ "wines.kisi.title" | translate }}
      </h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        {{ "wines.kisi.description" | translate }}
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/chinuri.webp" alt="Chinuri" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
        {{ "wines.chinuri.title" | translate }}
      </h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        {{ "wines.chinuri.description" | translate }}
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/tsitska.webp" alt="Tsitska" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
        {{ "wines.tsitska.title" | translate }}
      </h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        {{ "wines.tsitska.description" | translate }}
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/aladasturi.webp" alt="Aladasturi" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
        {{ "wines.aladasturi.title" | translate }}
      </h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        {{ "wines.aladasturi.description" | translate }}
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/Otskhanuri.webp" alt="Otskhanuri" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">
        {{ "wines.otskhanuri.title" | translate }}
      </h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        {{ "wines.otskhanuri.description" | translate }}
      </p>
    </div>
  </div>
</section>
