<section class="all-wines">
  <div class="wine-section">
    <div class="bottle-image">
      <img src="../../../assets/images/wines/krakhuna.webp" alt="Krakhuna" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">კრახუნა</h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        თეთრი ნახევრად ტკბილი ერთ-ერთი გამორჩეული იმერული თეთრყურძნიანი
        ვაზის ჯიში. ქარვისფერი. ხასიათდება თეთრი მწიფე ხილის მდიდარი
        არომატითა და თაფლის ნექტრის სურნელით. სხეულიანი, ზომიერად მსუსხავი
        ტანინით და დაბალანსებული მჟავიანობით. სრული, კომპლექსური, გამყოლი
        გემო ტროპიკული ხილის და ვანილის მოტკბო ტონებით.
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/kisi.webp" alt="Kisi" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">ქისი</h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        ქვევრის მშრალი თეთრი ღვინო. დამზადებულია კახეთში გაშენებული ამავე
        სახელწოდების ვაზის ჯიშის ყურძნისაგან. ქარვისფერი. გააჩნია არომატების
        მდიდარი პალიტრა გამოხატული მსხლის, ატმის ანანასის და ციტრუსოვანი
        ხილის ტონებით. საკმაოდ სხეულიანი, სასიამოვნოდ მსუსხავი ტანინით და
        სრული, ჰარმონიული გემოთი.
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/chinuri.webp" alt="Chinuri" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">ჩინური</h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        ქვევრის მშრალი თეთრი ღვინო. დამზადებულია ქართლში გავრცელებული ამავსე
        სახელწოდების ჯიშის ყურძნისაგან. ჩალისფერი შეფერილობა. ახასიათებს
        კარგად განვითარებული ბუკეტი თეთრი ხილის სურნელოვანი არომატებით.
        ხავერდოვანი ტანინი და სასიამოვნო მჟავიანობა. ხალისიანი, გამყოლი გემო
        ციტრუსოვანი ტონებით.
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/tsitska.webp" alt="Tsitska" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">ციცქა</h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        ქვევრის მშრალი თეთრი ღვინო. დამზადებულია თერჯოლის რაიონის სოფლებში
        გაშენებული ამავე სახელწოდების ჯიშის ყურძნისაგან. ქარვისფერი. დაყვება
        თეთრი ხილის და მინდვრის ყვავილების მაცოცხლებელი არომატი. ხალისიანი,
        ცინცხალი გემო კომშის, ნესვის და მწვანე ვაშლის ტონებით. რბილი ტანინი
        და სასიამოვნო მჟავიანობა.
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/aladasturi.webp" alt="Aladasturi" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">ალადასტური</h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        ქვევრის წითელი მშრალი ღვინო. დამზადებულია იმერეთის რეგიონში
        გაშენებული ალადასტურის ჯიშის ყურძნისაგან. ხასიათდება ღია ძოწისფერი
        შეფერილობით, წითელი მოცხარის მდიდრული არომატითა და ნაზად გამოხატული
        ყვავილოვანი ტონებით. გამოირჩევა კარგად განვითარებული ელეგანტური
        ბუკეტით და რბილი ტანინით. ხანგრძლივი დაბოლოებით და დაბალანსებული
        გემოთი. შეიცავს სულფიტებს.
      </p>
    </div>
  </div>
  <div class="wine-section" >
    <div class="bottle-image">
      <img src="../../../assets/images/wines/Otskhanuri.webp" alt="Otskhanuri" />
    </div>
    <div class="bottle-description">
      <h1 [appLangClass]="'geo-primary, eng-primary, ru-primary'">ოცხანური</h1>
      <p [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'">
        ქვევრის წითელი მშრალი ღვინო. დამზადებულია თერჯოლის რაიონის სოფელ
        საზანოში გაშენებული ოცხანური საფერეს უძველესი ჯიშის ყურძნისაგან.
        ახასიათებს ინტენსიური, მუქი ლალისფერი შეფერილობა. კენკროვანი ხილის
        და ბალახოვანი მცენარეების არომატების მრავალფეროვანი პალიტრა. ეს
        ელეგანტური ღვინო გამოირჩევა დახვეწილი ბუკეტით. სასიამოვნოდ მსუსხავი
        ტანინით და დაბალანსებული მჟავიანობით. ჰარმონიულად გამყოლი გემო შავი
        ქლიავის და მწიფე ბლის ტონებით. შეიცავს სულფიტებს.
      </p>
    </div>
  </div>
</section>
