<section
  class="hotel"
  id="hotel"
  [appLangClass]="'geo-primary, eng-primary, ru-primary'"
>
  <h2 class="hotel-heading">{{ "hotel.title" | translate }}</h2>
  <ngb-carousel
    #hotelCarousel
    [interval]="2000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onHotelSlide($event)"
    class="carousel-container"
  >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/images/home/hotel/new_building.webp"
          alt="New Building"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/images/home/hotel/new_balcony.webp"
          alt="New Building Balcony"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/images/home/hotel/fruit.webp"
          alt="Fruit And Wine On Table"
        />
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/images/home/hotel/old_interior.webp"
          alt="Old Building Interior"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/home/hotel/riverside.webp" alt="Riverside" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="assets/images/home/hotel/old_building.webp"
          alt="Old Building"
        />
      </div>
    </ng-template>
  </ngb-carousel>
  <button class="see-rooms primary-btn" routerLink="/hotel" (click)="scrollOnTop()">
    <span>
      {{ "hotel.button-text" | translate }}
    </span>
  </button>
</section>
