<header class="header main" id="header">
  <div class="header-img">
    <img
      [src]="mobileHeaderUrl"
      alt="Sazano Wine"
    />
    <img
      [src]="desktopHeaderUrl"
      alt="Sazano Wine"
      class="desktop-main"
    />
  </div>
  <div class="header-txt">
    <h1
      class="desktop-header-title"
      id="desktopTitle"
      [appLangClass]="'geo-primary, eng-primary, eng-primary'"
    >
      {{ "header.title" | translate }}
    </h1>
    <p
      class="header-title-description"
      [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'"
    >
      {{ "header.text" | translate }}
    </p>
    <div class="heading-image">
      <img src="assets/images/home/header/Group%2042.svg" alt="Grape" />
    </div>
  </div>
</header>
