<header class="header main" id="header">
  <div class="header-img">
    <img
      src="../../../assets/images/home/header/main%20logo%20mobile%20ge.webp"
      alt="Sazano Wine"
    />
    <img
      src="../../../assets/images/home/header/mainlogoge.webp"
      alt="Sazano Wine"
      class="desktop-main"
    />
  </div>
  <div class="header-txt">
    <h1 class="geo-primary desktop-header-title" id="desktopTitle">
      საზანოს ღვინის მარანი და სასტუმრო
    </h1>
    <p class="geo-secondary header-title-description">
      „საზანოს ღვინო“ 2017 წელს დაარსდა. იგი ცნობილია თავისი მეღვინეობით,
      კომფორტული და გამორჩეული სასტუმრო კომპლექსითა და უგემრიელესი
      სამზარეულოთი, რომელთაც წლების განმავლობაში არაერთი სტუმრის მოწონება
      დაუმსახურებიათ.
    </p>
    <div class="heading-image">
      <img src="../../../assets/images/home/header/Group 42.svg" alt="Grape" />
    </div>
  </div>
</header>
