<section class="restaurant" id="restaurant">
  <h1 class="heading geo-primary restaurant-heading">რესტორანი</h1>
  <div class="restaurant-content">
    <div class="restaurant-img">
      <img
        src="../../../assets/images/home/restaurant/Mask%20Group%2013@2x.webp"
        alt="Restaurant"
      />
      <img
        src="../../../assets/images/home/restaurant/restaurant-desktop.webp"
        alt="Restaurant"
        class="restaurant-img-desktop"
      />
    </div>
    <div class="restaurant-description">
      <p class="geo-secondary restaurant-txt">
        რეგიონში პირველი ღია სამზარეულო, რომელსაც ერთდროულად 100 ადამიანის
        გამასპინძლება შეუძლია, გამოირჩევა თავისი მინიმალისტური დიზაინით,
        თანამედროვე აღჭურვილობითა და პანორამული ხედით.
        <span data-modal-target="#modal">იხილეთ რესტორნის მენიუ:</span>
      </p>
    </div>
  </div>

</section>
