$body-bg: #f5e6ee;
$nav-links: #4c0027;
$nav-links-light: #a26585;
$white: #fff;
$roomCard-border: #d3d3d3;
$footer-icons: #8c6b7c;
$invalid: #c62828;
$valid: #28a745;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1920px;
$mobile: 320px;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-large: 16px;
$font-size-large: 18px;
$font-size-xlarge: 25px;
$font-size-xxlarge: 30px;
$wrapper-min-height-mobile: calc(100vh - 359px);
$wrapper-min-height-tablet: calc(100vh - 436px);
$wrapper-min-height-desktop-large: calc(100vh - 474px);;
