$body-bg: #f5e6ee;
$nav-links: #4c0027;
$white: #fff;
$roomCard-border: #d3d3d3;
$footer-icons: #8c6b7c;
$invalid: #c62828;
$valid: #28a745;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1920px;
$mobile: 320px;
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 20px;
$font-size-xlarge: 21px;
$font-size-xxlarge: 32px;
