<section class="winery" id="winery">
  <div class="winery-content">
    <h1 class="geo-primary winery-heading">მეღვინეობა</h1>
    <p class="description geo-secondary winery-description">
      “საზანოს ღვინის” მარანმა ღვინის წარმოება 2018 წლიდან დაიწყო. ჩვენი
      მარანი სახელგანთქმულია იმერული სახეობის ღვინოებით, თუმცა, გარდა
      იმერულისა, გვაქვს კახური “ქისი”, “რქაწითელი” და “საფერავი”. მშრალი
      ღვინოების წარმოება ხდება დურდოზე და დურდოს გარეშე, ალკოჰოლური
      დუღილით. მათ ვაძველებთ როგორც ქვევრში, ასევე ბოთლებში -
      დაძველებისთვის შესაბამისი ტექნოლოგიებით აღჭურვილ ნაგებობაში.
      ნახევრად-ტკბილ ღვინოებს ჩამოსხმამდე ვინახავთ ცისტერნა მაცივრებში.
      ალკოჰოლურ სასმელებს ვასხამთ როგორც ჩვენი ვენახებიდან მოყვანილი,
      ასევე ადგილობრივი მოსახლეობისგან შესყიდული ყურძნით. იხილეთ ყველა
      სახეობა
      <b
      ><a href="./wine.html" class="winery-details">
        დეტალურად:</a
      ></b
      >
    </p>
  </div>
  <div class="images">
    <img
      src="../../../assets/images/home/winery/krakhuna.webp"
      alt="Krakhuna"
      class="side"
    />
    <img
      src="../../../assets/images/home/winery/Group%2037@2x.webp"
      alt="Aladasturi"
      class="middle"
    />
    <img
      src="../../../assets/images/home/winery/colikouri.webp"
      alt="Tsolikouri"
      class="side"
    />
  </div>
</section>
