<section class="winery" id="winery">
  <div class="winery-content">
    <h1
      class="winery-heading"
      [appLangClass]="'geo-primary, eng-primary, ru-primary'"
    >
      {{ "winery.title" | translate }}
    </h1>
    <p
      class="description winery-description"
      [appLangClass]="'geo-secondary, eng-secondary, ru-secondary'"
    >
      {{ "winery.text" | translate }}
      <b
        ><a href="./wine.html" class="winery-details">
          {{ "winery.details" | translate }}</a
        ></b
      >
    </p>
  </div>
  <div class="images">
    <img
      src="../../../assets/images/home/winery/krakhuna.webp"
      alt="Krakhuna"
      class="side"
    />
    <img
      src="../../../assets/images/home/winery/Group%2037@2x.webp"
      alt="Aladasturi"
      class="middle"
    />
    <img
      src="../../../assets/images/home/winery/colikouri.webp"
      alt="Tsolikouri"
      class="side"
    />
  </div>
</section>
