@import "../../../../../variables";

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 20px;

  > .card {
    width: 100%;

    .card-title {
      text-align: center;
      color: $nav-links;
    }


    .card-img-top {
      height: 227px;
    }
    >.card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: $tablet) {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
    gap: 60px;

    > .card {
      width: calc(50% - 30px);
    }
  }
}

@media screen and (min-width: $desktop) {
  .wrapper {
    gap: 50px;
    padding: 0 80px;

    > .card {
      width: calc(33% - 31px);
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .wrapper {
    gap: 70px;
    padding: 0 12%;

    > .card {
      width: calc(33% - 42px);
    }
  }
}
