@import "../../../../../variables";

.wrapper {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px;
  >.card {
    width: 100%;
    .card-title {
      text-align: center;
      color: $nav-links;
    }
    .btn {
      width: 100%;
      background-color: $nav-links;
      color: $body-bg;
    }
    .card-img-top {
      height: 227px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .wrapper {
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    padding: 0 60px;
    >.card {
      width: calc(50% - 30px);
    }
  }
}
@media screen and (min-width: $desktop) {
  .wrapper {
    gap: 25px;
    padding: 0 80px;
    >.card {
      width: calc(33% - 15px);
    }
  }
}
@media screen and (min-width: $desktop-large) {
  .wrapper {
    gap: 40px;
    padding: 0 12%;
    >.card {
      width: calc(33% - 25px);
    }
  }
}
