<div class="wrapper">
  @for(room of rooms; track room){
  <div class="card">
    <img class="card-img-top" [src]="room.cardImage" alt="Room Image" />
    <div class="card-body">
      <h5 class="card-title eng-primary">{{ room.name }} - {{room.price}} ₾</h5>
      <a
        class="primary-btn"
        (click)="openRoomDetails(room.description, room.modalImages, room.name)"
        [appLangClass]="'geo-primary, eng-primary, ru-primary'"
      >
        <span>
          {{ "hotel-page.room-description" | translate }}
        </span>
      </a>
    </div>
  </div>
  }
</div>

<app-room-details #roomDetailsModal></app-room-details>
