@import "../../../../../variables";

.wrapper {
  min-height: $wrapper-min-height-mobile;
  padding: 80px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  >.buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    >button {
      width: 300px;
    }
  }
  >.routes-wrapper {
    overflow-x: scroll;
  }
}

@media screen and (min-width: $tablet){
  .wrapper{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: $desktop){
  .wrapper{
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: $desktop-large){
  .wrapper{
    padding-left: 12%;
    padding-right: 12%;
  }
}
